.contactPage{

    min-height: (100vh- 4rem);
    width: 100vw;
    max-width: 60rem;
    margin: 0 auto;
    align-items: center;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.myClients{
    font-size: 3rem;
    margin-bottom: 1rem ;

}

.clientDes{
    font-weight: 300;
    font-size: 1rem;
}

.clientImgs{
    margin: 1rem 0;
    display: flex;
}

.clientImg{
    object-fit: cover;
    width: 23%;
    min-width: 9rem;
    margin: auto;
    padding: 0.25rem;
}