<<<<<<< HEAD
.footer{
    width: 100vw;
    height: 4rem;
    background: rgb(43, 33, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
=======
.footer{
    width: 100vw;
    height: 4rem;
    background: rgb(43, 33, 44);
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: 300;
    font-size: small;
>>>>>>> c2acc960b818c5c2e846eb3c0892fd92286a440d
}